<#escape x as (x)!> 
<#assign base=springMacroRequestContext.getContextUrl("")>
<!DOCTYPE html>
<html lang="zh_CN">
<head>
<meta charset="utf-8">
<title>接口管理系统-冰迪网络(出品)</title>
<link href="${base}/css/bootstrap.css" rel="stylesheet">
<link href="${base}/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body >
<div class="row">
  <div class="span4">...</div>
  <div class="span8">...</div>
</div>
<form action="${base}/login.do"   method="post">
				账号：<input type="text"  name="name" value="Love320" placeholder="Love320" >
				姓名：<input type="text"  name="pwd" value="love320" placeholder="love320" >
				验证码：<input type="text"  name="code" value="" ><br/>
				<button class="btn btn-large btn-block btn-primary"  type="submit">保存</button>
				</form>

<script src="${base}/js/jquery.js"></script>
<script src="${base}/js/bootstrap.js"></script>
</body>
</html>
</#escape>